In [1]:
import pandas as pd

df = pd.read_excel("/workspaces/kdd_criminal/data/27_04_25.xlsx", sheet_name="Sheet1")
print(df.head())
print(df.columns)

  CONSOLIDADO(S)           ESPECIFICAÇÃO CRIME MEIO EMPREGADO DEAC  \
0          FURTO               MEDIANTE FRAUDE     SEM INSTRUMENTO
1          FURTO   AO ESTABELECIMENTO DE SAUDE     SEM INSTRUMENTO
2          FURTO  AO ESTABELECIMENTO COMERCIAL     SEM INSTRUMENTO
3          FURTO               MEDIANTE FRAUDE     SEM INSTRUMENTO
4          FURTO               MEDIANTE FRAUDE     SEM INSTRUMENTO

  MUNICÍPIO(S)             BAIRRO(S)  ANO DO FATO MÊS DO FATO      RISP  \
0   ANANINDEUA           CIDADE NOVA         2024     JANEIRO  02ª RISP
1   ANANINDEUA  CENTRO DE ANANINDEUA         2024   FEVEREIRO  02ª RISP
2   ANANINDEUA  CENTRO DE ANANINDEUA         2024   FEVEREIRO  02ª RISP
3   ANANINDEUA  CENTRO DE ANANINDEUA         2024     JANEIRO  02ª RISP
4   ANANINDEUA          ICUI-GUAJARA         2024     JANEIRO  02ª RISP

       AISP DATA DO FATO  ... IDADE VÍTIMA       FAIXA ETÁRIA VÍTIMA  \
0  18ª AISP   2024-01-23  ...           28  ADULTO II (25 A 29 ANOS)
1  20ª AISP   2024-02-02  ...        88888           PJ, EP E OUTROS
2  20ª AISP   2024-02-02  ...        88888           PJ, EP E OUTROS
3  20ª AISP   2024-01-30  ...           59  ADULTO IV (35 A 64 ANOS)
4  18ª AISP   2024-01-20  ...           64  ADULTO IV (35 A 64 ANOS)

    TIPO DE VÍTIMA       COR VÍTIMA GRAU DE INSTRUÇÃO VÍTIMA  \
0      PREJUDICADO      PREJUDICADO    ENSINO MEDIO COMPLETO
1  PJ, EP E OUTROS  PJ, EP E OUTROS          PJ, EP E OUTROS
2  PJ, EP E OUTROS  PJ, EP E OUTROS          PJ, EP E OUTROS
3      PREJUDICADO      PREJUDICADO    ENSINO MEDIO COMPLETO
4      PREJUDICADO      PREJUDICADO    ENSINO MEDIO COMPLETO

  ESTADO CIVÍL VÍTIMA SEXO AUTOR IDADE AUTOR    COR AUTOR  \
0       UNIAO ESTAVEL          P     66666.0  PREJUDICADO
1     PJ, EP E OUTROS          F     66666.0  PREJUDICADO
2     PJ, EP E OUTROS          P     66666.0  PREJUDICADO
3           CASADO(A)          P     66666.0  PREJUDICADO
4           CASADO(A)          P     66666.0  PREJUDICADO

  GRAU DE RELACIONAMENTO
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN

[5 rows x 30 columns]
Index(['CONSOLIDADO(S)', 'ESPECIFICAÇÃO CRIME', 'MEIO EMPREGADO DEAC',
       'MUNICÍPIO(S)', 'BAIRRO(S)', 'ANO DO FATO', 'MÊS DO FATO', 'RISP',
       'AISP', 'DATA DO FATO', 'DIA DA SEMANA', 'HORA DO FATO',
       'FAIXA 4 HORAS', 'FAIXA 12 HORAS', 'LATITUDE', 'LONGITUDE', 'DISTRITO',
       'REGIÃO DE INTEGRAÇÃO', 'LOCAL DA OCORRÊNCIA', 'SEXO VÍTIMA',
       'IDADE VÍTIMA', 'FAIXA ETÁRIA VÍTIMA', 'TIPO DE VÍTIMA', 'COR VÍTIMA',
       'GRAU DE INSTRUÇÃO VÍTIMA', 'ESTADO CIVÍL VÍTIMA', 'SEXO AUTOR',
       'IDADE AUTOR', 'COR AUTOR', 'GRAU DE RELACIONAMENTO'],
      dtype='object')

In [9]:
df.replace(['88888', '66666', 'PREJUDICADO', 'PJ, EP E OUTROS'], pd.NA, inplace=True)
df['VIOLENCIA'] = df['MEIO EMPREGADO DEAC'].str.contains("VIOLENCIA", na=False).astype(int)

In [10]:
print(df.describe())
df.info()  # To check data types and non-null counts

       ANO DO FATO                   DATA DO FATO  IDADE VÍTIMA   IDADE AUTOR  \
count      11768.0                          11768  11768.000000  11767.000000
mean        2024.0  2024-06-29 18:29:51.434398464   6801.931084  64445.237189
min         2024.0            2024-01-01 00:00:00      1.000000     10.000000
25%         2024.0            2024-03-31 18:00:00     27.000000  66666.000000
50%         2024.0            2024-06-29 00:00:00     38.000000  66666.000000
75%         2024.0            2024-10-01 00:00:00     53.000000  66666.000000
max         2024.0            2024-12-31 00:00:00  99999.000000  88888.000000
std            0.0                            NaN  23122.719517  11977.827707

          VIOLENCIA
count  11768.000000
mean       0.036965
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
std        0.188683
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11768 entries, 0 to 11767
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CONSOLIDADO(S)            11768 non-null  object
 1   ESPECIFICAÇÃO CRIME       11628 non-null  object
 2   MEIO EMPREGADO DEAC       11377 non-null  object
 3   MUNICÍPIO(S)              11768 non-null  object
 4   BAIRRO(S)                 11768 non-null  object
 5   ANO DO FATO               11768 non-null  int64
 6   MÊS DO FATO               11768 non-null  object
 7   RISP                      11768 non-null  object
 8   AISP                      11768 non-null  object
 9   DATA DO FATO              11768 non-null  datetime64[ns]
 10  DIA DA SEMANA             11768 non-null  object
 11  HORA DO FATO              11768 non-null  object
 12  FAIXA 4 HORAS             11768 non-null  object
 13  FAIXA 12 HORAS            11768 non-null  object
 14  LATITUDE                  11768 non-null  object
 15  LONGITUDE                 11768 non-null  object
 16  DISTRITO                  11768 non-null  object
 17  REGIÃO DE INTEGRAÇÃO      11768 non-null  object
 18  LOCAL DA OCORRÊNCIA       11744 non-null  object
 19  SEXO VÍTIMA               11768 non-null  object
 20  IDADE VÍTIMA              11768 non-null  int64
 21  FAIXA ETÁRIA VÍTIMA       10831 non-null  object
 22  TIPO DE VÍTIMA            1384 non-null   object
 23  COR VÍTIMA                136 non-null    object
 24  GRAU DE INSTRUÇÃO VÍTIMA  10603 non-null  object
 25  ESTADO CIVÍL VÍTIMA       10667 non-null  object
 26  SEXO AUTOR                11768 non-null  object
 27  IDADE AUTOR               11767 non-null  float64
 28  COR AUTOR                 1052 non-null   object
 29  GRAU DE RELACIONAMENTO    245 non-null    object
 30  VIOLENCIA                 11768 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(26)
memory usage: 2.8+ MB

In [11]:
df['DATA DO FATO'] = pd.to_datetime(df['DATA DO FATO'], errors='coerce')
df['DIA_SEMANA'] = df['DATA DO FATO'].dt.day_name()
df['HORA'] = pd.to_datetime(df['HORA DO FATO'], format="%H:%M:%S", errors='coerce').dt.hour

In [8]:
missing_symbols = ['88888', '66666', 'PREJUDICADO', 'PJ, EP E OUTROS']
df.replace(missing_symbols, pd.NA, inplace=True)